.responsive
{
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
}

.naslovna
{
    position: relative;
    text-align: center;
}

.naslovna-tekst
{
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: none;
}

.naslovna-efekt
{
    display: none;
}

.row
{
    margin: 40px 30px;
}

.naslovi
{
    font-size: 35px;
}

.jumbotron
{
    margin: 0;
    text-align: center;
}

.desni-tekst
{
    text-align: left;
}

.levi-tekst
{
    text-align: right;
}

.levi
{
    display: none;
}

.desni
{
    display: none;
}


.kdo
{
    color: Gainsboro;
}

.kontakt
{
    color: Gainsboro;
}

.kvadrat
{
    border-style: outset;
    margin: 15px;
    border-radius: 5px;
    border-color: silver;
    background-color: White;
    font-size: 15px;
    padding-top: 10px;
    display: none;
}

.opis
{
    text-align: justify;
    margin-top: 10px;
}

.gumb
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#mail
{
    color: Snow;
}

.lan-logo
{
    height: 20px;
    width: 33px;
}

.lan-logo:hover
{
    opacity: 0.5;
}